<h2>{{ article.title }}</h2>
<p>{{ article.created_at | date: '%B %d %Y' }}</p>
<p>{{ article.author }}</p>
<div>{{ article.content }}</div>
<div>{{ article.excerpt }}</div>

{% if article.comments_enabled? %}
  <h2>Leave a comment</h2>
  {% form 'new_comment', article %}
    <button type="submit">Add comment</button>
  {% endform %}
{% endif %}