<h2>{{ article.title }}</h2>
<p>{{ article.created_at | date: '%B %d %Y' }}</p>
<p>{{ article.author }}</p>
<div>{{ article.content }}</div>
<div>{{ article.excerpt }}</div>

{% if article.comments_enabled? %}
  asdf
{% endif %}